.squareField {
    padding: 20px;
    border:2px solid black;
    margin: 0 auto;
}

.open {
    background: green !important ;
}

.objectFound {
    background: black !important;
}



.mineFound {
    background: gray !important;
}
.mine {
    background: orange !important;
}