.squareField {
    padding: 10px;
    border:2px solid #494949;
    margin: 0 auto;
}
.open {
    background: orange !important ;
}
.objectFound {
    background: url(../../images/chest.png) 0 0 no-repeat !important;
    background-size: cover !important;
}
.mineFound {
    background: url(../../images/flag_detection.png) center no-repeat !important;
    background-size: contain !important;
}
.around {
    background: red !important;
}
.mine {
    background: url(../../images/pumkin_mine.png) center no-repeat !important;
    background-size: contain !important;
}
